.centred { position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
.tint{opacity: 40%;
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

input.test1:focus {
background-color: orange; 
}
input.test2:focus {
background-color: khaki; 
}



/*
.centred { position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
.tint {opacity: 80%;
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
input.test1 {
background-color: rgba(220, 24, 109, 0.613);
}
input.test2 {
background-color: rgb(213, 93, 8);
}
.test2 {font-family: Impact, Haettenschweiler, &#39;Arial Narrow Bold&#39;, sans-serif;
font-size: 50px;}
.test1 {font-family: Impact, Haettenschweiler, &#39;Arial Narrow Bold&#39;, sans-serif;}

*/
